<div class="clr-row">
    <div class="clr-col-lg-4 clr-col-12" *ngFor="let spot of data">
        <a class="card clickable">
            <div class="card-img">
                <img src="{{ spot.url }}">
            </div>
            <div class="card-block">
                <div class="card-title">
                    {{ spot.name }}
                </div>
                <p class="card-text">
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline" (click)="onEdit(spot.id)">수정</button>
                <button class="btn btn-outline" (click)="onDelete(spot.id)">삭제</button>
            </div>
        </a>
    </div>
</div>